<template>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <LocationInput @location="searchLocation"/>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" @click="searchByCoords">
        <i class="fas fa-location-arrow" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-8">
      <div v-if="error">
        <h3 class="text-center mt-5">{{error}}</h3>
      </div>
      <div v-if="weather.name">
        <Weather :weather="weather"/>
      </div>

    </div>

  </div>
</template>

<script>
import LocationInput from '@/components/LocationInput.vue';
import Weather from '@/components/Weather.vue';
import getPosition from '@/utils/utils';

export default {
  name: 'CurrentWeather',
  components: {
    LocationInput,
    Weather,
  },
  computed: {
    weather() {
      let weather = {};
      const data = this.$store.getters.current;
      if (Object.keys(data).length) {
        weather = {
          ...{
            name: data.name,
            country: data.sys.country,
            temperature: data.main.temp,
            sunrise: data.sys.sunrise,
            sunset: data.sys.sunset,
            humidity: data.main.humidity,
            weather: data.weather[0].main,
            weather_description: data.weather[0].description,
            weather_icon: data.weather[0].icon,
          },
        };
      }

      return weather;
    },
    error() {
      return this.$store.getters.error;
    },
  },
  methods: {
    searchLocation(location) {
      this.$store.dispatch('getCurrentWeather', `weather?q=${location}`);
    },
    async searchByCoords() {
      try {
        const { latitude, longitude } = await getPosition();
        this.$store.dispatch('getCurrentWeather', `weather?lat=${latitude}&lon=${longitude}`);
      } catch (e) {
        alert(e.message);
      }
    },
  },
};
</script>

<style>

</style>
