<template>
  <div>
    <div v-if="weekWeather.length" class="row">
      <div v-for="weather in weekWeather" v-bind:key="weather.id" class="col-md-3">
        <Weather :weather="weather" />
      </div>
    </div>

  </div>
</template>

<script>
import Vue from 'vue';
import Weather from '@/components/Weather.vue';
import getPosition from '@/utils/utils';

export default {
  name: 'ForeCastWeather',
  components: {
    Weather,
  },
  data() {
    return {
      informations: [],
    };
  },
  created() {
    this.locateUser();
  },
  computed: {
    weekWeather() {
      const informations = [];
      if (Object.keys(this.$store.getters.forecast).length) {
        const forecast = this.$store.getters.forecast.daily;

        forecast.forEach((day, index) => {
          Vue.set(informations, index, {
            id: index,
            name: this.$store.getters.forecast.timezone.split('/')[1],
            temperature: day.temp.day,
            sunrise: day.sunrise,
            sunset: day.sunset,
            humidity: day.humidity,
            weather: day.weather[0].main,
            weather_description: day.weather[0].description,
            weather_icon: day.weather[0].icon,

          });
        });
      }
      return informations;
    },
  },
  methods: {
    async locateUser() {
      try {
        const { latitude, longitude } = await getPosition();
        this.$store.dispatch('getForecastWeather', `onecall?lat=${latitude}&lon=${longitude}&exclude=current,minutely,hourly`);
      } catch (e) {
        alert(e.message);
      }
    },
  },
};
</script>

<style>
.card{
 margin: 10px;
}
</style>
